streamlit
elasticsearch
openai
psycopg2-binary
python-dotenv
torch==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchvision==0.16.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
torchaudio==2.1.0+cpu --extra-index-url https://download.pytorch.org/whl/cpu
sentence-transformers==2.2.2