streamlit==1.43.2
elasticsearch==8.17.2
openai==1.68.2
psycopg2-binary==2.9.10
python-dotenv

sentence-transformers==2.7.0

--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
torch==2.3.1+cpu